
.post {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    background: #6c95c4;
}

.post > P {
    margin-bottom: 0;

}

.title {
  background-color: #326fb4;
  margin: 0;
  text-align: center;
}

.btn {
  margin: 0;
  width: 100%;
  height: 15%;
  background-color: rgb(32, 32, 115);
  padding: 0;
  border: 4PX solid blue;
  font-size: 20px;
}
