
.post {
    width: 300px;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    background: #6c95c4;
    margin-bottom: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.post > P {
    margin-bottom: 0;
    padding: 10px;

}

.title {
  background-color: #326fb4;
  margin: 0;
  text-align: center;
}

.head {
  background-color: rgb(94, 122, 168);
  margin: 0 auto;
  width: 300px;
  height: 60px;
  /* padding: 0; */
  /* box-sizing: border-box; */
  border: 2PX solid blue;
  margin-bottom: 10px;
  /* font-size: 20px; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.head > h4 {
  margin: 0;
}

.head > h6 {
  margin :0;
}